body {
	background: #F6FFF6;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a:link, a:active, a:visited{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #667766;
	text-decoration:underline;
}

a:hover{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #FF7777;
	text-decoration:underline;
}

td {
	border: 0;
	background-color: inherit;
	width: auto;
	text-align:left;
	color: #667766;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-style: normal;
	vertical-align: top;
	font-size: 12px; 
	padding: 2px; 	
	border-top: 1px solid #BBCCBB;
	border-left: 1px solid #BBCCBB;
	border-right: 1px solid #EEFFEE;
	border-bottom: 1px solid #EEFFEE; 
	background: #DDEEDD;
}

th { 
	font-weight: bold;
	font-size: 13px; 
	text-align: center;
	vertical-align: top;
	background-color: #BBCCBB;
}


table {
	border-bottom: 1px solid #667766;
	border-right: 1px solid #667766;
	border-left: 1px solid white;
	border-top: 1px solid white; 
}

hr { 
	border-top: 1px solid #BBCCBB;
	border-left: 1px solid #BBCCBB;
	border-right: 1px solid #EEFFEE;
	border-bottom: 1px solid #EEFFEE; 
}

textarea, input{ 
	border-bottom: 1px solid #667766;
	border-right: 1px solid #667766;
	border-left: 1px solid #667766;
	border-top: 1px solid #667766; 
	background: #F6FFF6;
}

select {
	border-bottom: 1px solid #667766;
	border-right: 1px solid #667766;
	border-left: 1px solid #667766;
	border-top: 1px solid #667766; 
	background: #F6FFF6;
}
